.Home {
  width: 100vw;
  height: 100vh;

  .Title {
    text-transform: uppercase;
    word-spacing: 100vw;
    font-size: 4rem;
    line-height: 3.4rem;
    margin-top: 0.6rem;
    transform: translateY(-30px);
  }

  .Slider {
    transform: translateY(-30px);
  }

  .progress-container {
    position: fixed;
    bottom: 0;
  }
}
