@import '../../styles/colors';
@import '../../styles/variables';
@import "variables";
@import 'mixins';

.Slide {
  width: 32vw;
  position: relative;

  .initials {
    cursor: default;
    font-size: 22vw;
    line-height: 10rem;

    @include media-breakpoint-up(lg) {
      & {
        line-height: 24rem;
      }
    }

    background-image: url(../../images/Avenir_img.jpg);
    background-size: cover;
    transition: color $transitions-speed ease;
    position: relative;
    z-index: 2;
    &:not(.clone) {
      -webkit-background-clip: text;
    }

    &.clip {
      opacity: 0.5;
      &.center {
        opacity: 1;
      }
    }

    &.clip.center:hover {
      color: transparent;
    }

    &.clone {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: calc(100% - 24px);
      z-index: 1;
    }
  }

  .font {
    color: $gray-lighter;
  }
}
